

<div class="component">
       <mat-card class="example-card" *ngFor="let feed of feeds; index as i; " >
            <mat-card-header>
            <ngx-skeleton-loader *ngIf="!contentLoaded" [theme]="{
              width: '490px',
              'border-radius': '0',
              height: '60px',
              'margin-bottom': '10px'
            }"></ngx-skeleton-loader>
            <ngx-skeleton-loader  mat-card-avatar *ngIf="!contentLoaded" [theme]="{
              width: '60px',
              'border-radius': '50%',
              height: '60px',
              'margin-bottom': '0px'
            }"></ngx-skeleton-loader>
           <ngx-avatar *ngIf="contentLoaded" mat-card-avatar  name="{{feed._createdBy.name}}" src="{{imgUrl}}{{feed._createdBy.photo}}" size="40"></ngx-avatar> 
              
              <mat-card-title *ngIf="contentLoaded" style="font-size: 15px; display: flex; min-width: 100% !important; ">
                <div> {{feed._createdBy.name}}</div>
                <div style="font-size: 14px; margin-left: 73%;">{{justNow(feed.createdAt)}}</div>
        
               </mat-card-title>
              
              <mat-card-subtitle *ngIf="contentLoaded" >{{feed?.location?.substring(0,55)}}... </mat-card-subtitle>
        
            </mat-card-header>
            <ngx-skeleton-loader  mat-card-image *ngIf="!contentLoaded" [theme]="{
              width: '590px',
              'border-radius': '150',
              height: '530px'
             
            }"></ngx-skeleton-loader>
            <div class="container"  *ngIf="contentLoaded" >
           
             <carousel  mat-card-image style="z-index: 0 !important; "  *ngIf="feed.photo.length!=1"
            [images]="feed.photo"
            [objectFit]="'cover'"
            [cellWidth]="'100%'"
            [height]="620"
            [width]="580"
            [autoplay]="true"
            [dots]="false"
            [loop]="true"
            [counter]="true"
            [cellsToShow]="1">
          </carousel>
          <div  >
                <ng-container *ngIf="contentLoaded">
               <img *ngIf="feed.photo.length==1" mat-card-image src={{imgUrl}}{{feed.photo[imgIterate[i]]?.filename}} alt="Photo of a Shiba Inu">
              </ng-container>
              </div>
            <!-- <button *ngIf="imgIterate[i]!=feed.photo.length-1" class="btnRight" (click)="add(i)"><img src="../../assets/images/next.png" style="height: 20px; width: 20px;" alt="" ></button>
            <button *ngIf="imgIterate[i]!=0" class="btnLeft" (click)="sub(i)"><img src="../../assets/images/back.png" style="height: 20px; width: 20px;" alt="" ></button> -->
            </div>
        
            <ngx-skeleton-loader  *ngIf="!contentLoaded" [theme]="{
              width: '40px',
              'border-radius': '50%',
              height: '40px'
         
             
            }"></ngx-skeleton-loader>
            <ng-container *ngIf="contentLoaded">
         <mat-icon  *ngIf="!likenow(feed)"   (click)="likePost(feed)" class="material-icons-outlined"  >favorite_outline</mat-icon>
         <mat-icon  *ngIf="likenow(feed)" style="color: red;" (click)="likePost(feed)" class="material-icons-outlined"  >favorite</mat-icon>
         
         </ng-container>
         
         <ngx-skeleton-loader class="icon"  *ngIf="!contentLoaded" [theme]="{
          width: '40px',
          'border-radius': '50%',
          height: '40px'
          
        }"></ngx-skeleton-loader>
        <ng-container *ngIf="contentLoaded">
            <mat-icon class="icon" (click)="openDialog(feed)" >chat_bubble_outline</mat-icon>
        
            </ng-container>
            <ngx-skeleton-loader class="bookmark1"  *ngIf="!contentLoaded" [theme]="{
              width: '40px',
              'border-radius': '50%',
              height: '40px'
              
            }"></ngx-skeleton-loader>
            <ng-container *ngIf="contentLoaded">
            <mat-icon *ngIf="savenow(feed)" (click)="savePost(feed)"  class="bookmark">bookmark</mat-icon>
            <mat-icon *ngIf="!savenow(feed)" (click)="savePost(feed)"  class="bookmark">bookmark_border</mat-icon> 
        </ng-container>
            <!-- <p class="caption"> {{feed.like.length}}</p> -->
            
        
                  <mat-card-content>
                    <ngx-skeleton-loader  *ngIf="!contentLoaded" [theme]="{
                      width: '580px',
                      'border-radius': '0',
                      height: '10px'
                 
                     
                    }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader  *ngIf="!contentLoaded" [theme]="{
                      width: '580px',
                      'border-radius': '0%',
                      height: '10px'
                 
                     
                    }"></ngx-skeleton-loader>
                    <ngx-skeleton-loader  *ngIf="!contentLoaded" [theme]="{
                      width: '580px',
                      'border-radius': '0%',
                      height: '10px'
                 
                     
                    }"></ngx-skeleton-loader>
              <p class="caption" style="font-size: 14px;  padding: 5px 0; margin: 0;" *ngIf="contentLoaded" >
               <span style="font-size: 14px; font-weight: bold;  padding: 0; margin: 0;">{{feed._createdBy.name}}</span> {{feed.caption}} .....
              </p>
        
            <ng-container *ngIf="contentLoaded">
              <p *ngIf="feed.comment.length" (click)="openDialog(feed)"  class="comment" style="cursor: pointer; font-size: 14px; color: rgb(137, 138, 138); padding: 0; margin: 0;">
                <span style="font-size: 14px; color: rgb(137, 138, 138); padding: 0; margin: 0;">View all {{feed.comment.length}} comments</span>       </p>
            </ng-container>
                <p class="comment" style="font-size: 14px; color: rgb(137, 138, 138); padding: 5px 0; margin: 0;" *ngIf="contentLoaded" >
                  <span style="font-size: 14px; color: rgb(137, 138, 138); padding: 0; margin: 0;">{{calculateDiff(feed.createdAt)}}</span>       </p>
             
                <div style="display: flex;"> 
                   <!-- <img src="../../assets/images/emoji.png" style="cursor: pointer; padding-top: 13px; max-height: 35px; max-width: 25px" alt=""> </i> -->
                   <ngx-skeleton-loader   *ngIf="!contentLoaded" [theme]="{
                    width: '35px',
                    'border-radius': '50%',
                    height: '35px' 
                               
                  }"></ngx-skeleton-loader> 
                   
                   <img *ngIf="contentLoaded" mat-button [matMenuTriggerFor]="aboveMenu"  src="../../assets/images/emoji.png" style="cursor: pointer; padding-top: 13px; max-height: 35px; max-width: 25px" alt="">
                   <ngx-skeleton-loader  *ngIf="!contentLoaded" [theme]="{
                    width: '500px',
                    'border-radius': '0%',
                    height: '20px',
                    margin:'0 5px'
               
                             }"></ngx-skeleton-loader>
                   <input *ngIf="contentLoaded" class="text" type="text" [(ngModel)]="emojiCaption" name="emojiCaption" style="width: 90%; margin: 10px 5px 0px 10px; border: none; padding: 3px 5px 2px 5px; height: 30px;" placeholder="Add your comment ...">
              
                   <ngx-skeleton-loader  *ngIf="!contentLoaded" [theme]="{
                    width: '30px',
                    'border-radius': '0%',
                    height: '30px'
               
                             }"></ngx-skeleton-loader>
                   <button  *ngIf="contentLoaded" class="h3" [disabled]="emojiCaption==''" (click)="postComment(feed)"> Post</button>
              
               <mat-menu #aboveMenu="matMenu" yPosition="above">
        
                <!-- <i  (click)="toggled = !toggled" [(emojiPickerIf)]="toggled" [emojiPickerDirection]="'top' " (emojiPickerSelect)="handleSelection($event)"></i> -->
             
                <emoji-mart
                (click)="$event.stopPropagation();"
                title="Pick your emoji…"
                emoji="point_up"
                (emojiClick)="handleSelection($event)"
              ></emoji-mart>
               </mat-menu>
        
              </div>
              
                </mat-card-content> 
          
           </mat-card>
         
        </div> 
        
        <!-- <div class="search-results" 
            infinite-scroll 
            (scrolled)="onScrollDown($event)" 
           >
        
              <div class="list-group">
                <a class="list-group-item list-group-item-action" *ngFor="let i of listArray">
                  <p class="mb-1">{{i}} Item added on {{direction}}</p>
                </a>
              </div>
        
        </div> -->
        <!-- <button mat-button (click)="openDialog()">Open dialog</button> -->
        <button class="matplus" mat-fab color="primary" aria-label="Example icon button with a plus one icon" (click)="openAddPost()">
          <mat-icon style=" color:white !important" 
         >add</mat-icon>
        </button>
      