
<div style="display: flex; margin-top: 10px;">
          <h1 mat-dialog-title>Reset Password</h1><img mat-button mat-dialog-close src="../../assets/images/cancel.png"/>
      </div>
<div class="container">

          <mat-card class="example-card">

                                      <mat-card-content>
                              <form [formGroup]="loginForm">



                                        <mat-form-field appearance="outline" style="width:428px">
                                                  <mat-label>Current Password</mat-label>
                                                  <input matInput type= 'text'
                                                            formControlName="password" required>
                                             
                                                  <mat-error *ngIf="loginForm.invalid">
                                                            <mat-icon>warning</mat-icon> {{getErrorMessage()}}
                                                  </mat-error>
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" style="width:428px">
                                                  <mat-label>New Password</mat-label>
                                                  <input matInput type= 'text'
                                                            formControlName="newPassword" required>
                                                
                                                  <mat-error *ngIf="loginForm.invalid">
                                                            <mat-icon>warning</mat-icon> {{getErrorMessage()}}
                                                  </mat-error>
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" style="width:428px">
                                                  <mat-label>Re-Enter New Password</mat-label>
                                                  <input matInput type= 'text'
                                                            formControlName="checkNewPassword" required>
                                                
                                                  <mat-error *ngIf="loginForm.invalid">
                                                            <mat-icon>warning</mat-icon> {{getErrorMessage()}}
                                                  </mat-error>
                                        </mat-form-field>

                                        <button type="submit" mat-flat-button color="primary" (click)="login()">Reset Password
                                        </button>
                                     

                              </form>
                    </mat-card-content>

          </mat-card>
</div>