.container{
          width: 500px;
}
button{
          width: 100%;
}
// .example-card{
//     padding: 0 !important;
// }.container{
//     padding: 0 !important;
// }
img{
          padding-top: 1%;
          margin-left:23% !important;
          width: 15px;
          height: 20px;
      }
      h1{
          margin-left:30% !important;
      
         
      }