
*{
          font-size: 16px;
          }
          table {
                    
                    width: 100%;
                  }
          
                  .mat-elevation-z8{
                        margin: 0 10%;
           min-width: 500px;
                  }
                  h1{
                        margin: 5% 10% 0 10%;
                  }