h1{
          font-size: 18px;
          padding-left: 40%;
}
img{
          margin-top: 10px;
          margin-left: 40%;

}
.container{
width: 400px;
}
.bdrop{
          background-color: #bbbbbbf2 !important;

      }
      .flex{
          display: flex;
      }