
*{
font-size: 16px;
}
table {
          
          width: 100%;
        }
        .matplus{
          position: fixed;
          font-size: 25px !important;
          top: 80%;
          left: 80%;
        
        }
        .icon{
          padding-left: 20px;
        }